<div class="giveaway-description text-center">
  <h2>Tell us about your event</h2>
<!--   <p>Sign up a high school athlete below to enter them to win a FREE month of mealfit plans</p> -->
</div>
{% include 'infusionsoft-catering-event' %}

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
