<div class="giveaway-description text-center">
  <h2>Do you know a new mom?</h2>
  <p>Sign up a new mom below to enter them to win a FREE month of mealfit plans</p>
</div>
{% include 'infusionsoft-new-mom' %}

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
